{{ define "main" }}
<div class="mx-auto">
  <!-- Gambar Profil -->

  <div class="w-full h-full overflow-hidden relative mb-4">
    <h1 class="text-4xl font-bold text-center mb-4">{{ .Title }}</h1>

    <section
      class="flex  left-1/2 -translate-x-1/2 rounded-xl w-[80%] relative divide-x divide-xai-200 dark:divide-xai-800 odd:bg-white/10 even:bg-white/20 dark:odd:bg-xai-700/10 dark:even:bg-xai-700/5 backdrop-blur-md">
      <div class="px-6 py-4 space-y-2 w-[40%]">
        <div class="flex space-x-2">
          <div>
            <span class="material-symbols-rounded p-1">location_on</span>
          </div>
          <div>
            <h1 class="text-xl font-bold mb-2">HEAD OFFICE</h1>
            <p>
              Jl. Jombang-Babat N0. XXX<br />
              Lamongan 62273<br />
              Jawa Timur<br />
              Indonesia<br />
            </p>
          </div>
        </div>
        <div class="flex space-x-2">
          <div>
            <span class="material-symbols-rounded p-1">phone_in_talk</span>
          </div>
          <div>
            <h1 class="text-xl font-bold mb-2">PHONE</h1>
            <p>+62-XX-XXX XXX 17<br /></p>
          </div>
        </div>
        <div class="flex space-x-2">
          <div><span class="material-symbols-rounded p-1">schedule</span></div>
          <div>
            <h1 class="text-xl font-bold mb-2">OPEN HOURS</h1>
            <p>Monday — Friday: 8 am — 5 pm<br /></p>
          </div>
        </div>
        <div class="flex space-x-2">
          <div>
            <span class="material-symbols-rounded p-1">location_on</span>
          </div>
          <div>
            <h1 class="text-xl font-bold mb-2">R&D OFFICE</h1>
            <p>
              Jl. Jombang-Babat N0. ZZZ<br />
              Lamongan 62273<br />
              Jawa Timur<br />
              Indonesia<br />
            </p>
          </div>
        </div>
      </div>
      <!-- Formulir Kontak -->
      <form action="/contact" method="POST" class="space-y-4 flex-1 p-8 justify-center content-center">
        <div>
          <label for="name" class="block   font-medium text-xai-700">Name:</label>
          <input type="text" id="name" name="name" placeholder="Your Name"
            class="mt-1 block w-full py-2 placeholder:text-xai-400 placeholder:dark:text-xai-700/50 bg-white outline-none px-2 dark:bg-xai-800 dark:autofill:bg-xai-600 rounded-md border border-xai-300 dark:border-xai-700 shadow-sm focus:border-lightblue-500 focus:dark:border-lightblue-500 focus:ring focus:ring-lightblue-500/20 text-base"
            required />
        </div>
        <div>
          <label for="email" class="block   font-medium text-xai-700">Email:</label>
          <input type="email" id="email" name="email" placeholder="example@email.com"
            class="mt-1 block w-full py-2 placeholder:text-xai-400 placeholder:dark:text-xai-700/50 bg-white outline-none px-2 dark:autofill:bg-xai-600 dark:bg-xai-800 rounded-md border border-xai-300 dark:border-xai-700 shadow-sm focus:border-lightblue-500 focus:dark:border-lightblue-500 focus:ring focus:ring-lightblue-500/20 text-base"
            required />
        </div>
        <div>
          <label for="message" class="block   font-medium text-xai-700">Message:</label>
          <textarea id="message" name="message" placeholder="Your Message"
            class="mt-1 block w-full py-1 placeholder:text-xai-400 placeholder:dark:text-xai-700/50 bg-white outline-none px-2 dark:autofill:bg-xai-600 dark:bg-xai-800 rounded-md border border-xai-300 dark:border-xai-700 shadow-sm focus:border-lightblue-500 focus:dark:border-lightblue-500 focus:ring focus:ring-lightblue-500/20 text-base"
            required></textarea>
        </div>
        <div>
          <button type="submit"
            class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-lightblue-600 hover:bg-lightblue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lightblue-500">
            Send
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
{{ end }}