<div class="flex content-center items-center justify-center">
  <div class="my-auto">
    <h3 class="font-medium text-xl text-xai-400">Shoes of the Day</h3>
    <h2 class="font-light text-[64px] uppercase">All your</h2>
    <h1 class="font-extrabold text-[64px] uppercase">shoes are here</h1>
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum modi
      quibusdam accusamus adipisci, autem placeat? Officia odit quae nostrum
      excepturi iure, deserunt soluta in!
    </p>
    <button
      class="bg-white mt-12 hover:gap-4 rounded-full px-4 shadow-lg text-lightblue-300 hover:text-lightblue-400 py-1 items-center text-center flex uppercase text-lg"
    >
      Buy Now
      <span class="material-symbols-rounded"
        ><span class="material-symbols-outlined"> chevron_right </span></span
      >
    </button>
  </div>
  <div class="w-full flex flex-col items-center h-full justify-center">
    <img src="/images/sapatu1.png" class="w-[543px]" alt="sepatu" />
    <div class="w-full h-[60px] flex justify-center space-x-3">
      <div class="flex justify-center items-center h-12 w-12">
        <div
          class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#930605] border-4 border-white"
        ></div>
      </div>
      <div class="flex justify-center items-center h-12 w-12">
        <div
          class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#C7890B] border-4 border-white"
        ></div>
      </div>
      <div class="flex justify-center items-center h-12 w-12">
        <div
          class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#429D04] border-4 border-white"
        ></div>
      </div>
      <div class="flex justify-center items-center h-12 w-12">
        <div
          class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#018585] border-4 border-white"
        ></div>
      </div>
      <div class="flex justify-center items-center h-12 w-12">
        <div
          class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#0753AC] border-4 border-white"
        ></div>
      </div>
    </div>
  </div>
</div>
