{{- /* Ini Komen Renders a menu for the given menu ID. @context {page} page The
current page. @context {string} menuID The menu ID. @example: {{ partial
"menu.html" (dict "menuID" "main" "page" .) }} */}} {{- $page := .page }} {{-
$menuID := .menuID }} {{- with index site.Menus $menuID }}
<nav class="w-auto grow flex justify-end">
  <ul class="flex space-x-8 justify-center items-center">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}

    <div class="flex items-center justify-center space-x-4">
      <!-- <span id="toggle-mode" class="material-symbols-rounded cursor-pointer text-lightblue-300">dark_mode</span>
      <a id="btn-login" href="/login"
        class=" cursor-pointer items-center px-4 py-1 text-lightblue-300 hover:text-lightblue-400 font-medium ">
        <span class="material-symbols-rounded">login</span>
      </a>
      <a id="btn-logout"
        class="hidden cursor-pointer items-center px-4 py-1  text-lightblue-300 hover:text-lightblue-400 font-medium ">
        <span class="material-symbols-rounded">logout</span>
      </a>
      <div id="account"
        class="hidden cursor-pointer justify-center items-center px-1 py-1 w-8 h-8 rounded-full border border-transparent text-base font-medium   shadow-sm text-white bg-lightblue-400 hover:bg-lightblue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lightblue-500">
      </div>-->

    </div>

  </ul>
</nav>
{{- end }}