{{ define "main" }}

<div class="flex w-full content-center items-center justify-center rounded-t-3xl">
    <div class="my-auto">
        <h3 class="font-medium text-xl text-xai-400">Shoes of the Day</h3>
        <h2 class="font-light text-[64px] uppercase">All your</h2>
        <h1 class="font-extrabold text-[64px] uppercase">shoes are here</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum modi quibusdam accusamus adipisci, autem
            placeat? Officia odit quae nostrum excepturi iure, deserunt soluta in!
        </p>

        <button
            class="bg-white dark:bg-xai-700 mt-12 group rounded-full px-4 shadow-lg text-lightblue-300 hover:text-lightblue-400 dark:text-lightblue-400 dark:hover:text-lightblue-500 py-1 items-center text-center flex uppercase text-lg">
            Buy Now
            <span class="material-symbols-outlined transition group-hover:translate-x-1">
                chevron_right
            </span>
        </button>
    </div>
    <div class="w-full flex flex-col items-center h-full justify-center">
        <div class="image-display">
            <img id="product-image" src="/images/sepatu1.png" class="w-[500px]" alt="sepatu" />
        </div>
        <div id="color-picker" class="w-full h-[60px] flex justify-center space-x-3">
            <div id="red" class="color-btn flex justify-center items-center h-12 w-12">
                <button
                    class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#930605] border-4 border-white dark:border-xai-700">
                </button>
            </div>
            <div id="yellow" class="color-btn flex justify-center items-center h-12 w-12">
                <button active:true
                    class="h-8 w-8 active hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#C7890B] border-4 border-white dark:border-xai-700">
                </button>
            </div>
            <div id="green" class="color-btn flex justify-center items-center h-12 w-12">
                <button
                    class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#429D04] border-4 border-white dark:border-xai-700">
                </button>
            </div>
            <div id="tosca" class="color-btn flex justify-center items-center h-12 w-12">
                <button
                    class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#018585] border-4 border-white dark:border-xai-700">
                </button>
            </div>
            <div id="blue" class="color-btn flex justify-center items-center h-12 w-12">
                <button
                    class="h-8 w-8 hover:h-12 hover:w-12 active:h-12 active:w-12 visited:h-12 visited:w-12 hover:shadow-lg visited:shadow-lg duration-500 transition-transform rounded-full bg-[#0753AC] border-4 border-white dark:border-xai-700">
                </button>
            </div>
        </div>
    </div>
</div>

{{ range where .Pages "Params.exclude_from_home" "ne" true }}
<div
    class="flex flex-row  rounded-xl odd:bg-white/10 even:bg-white/20 dark:odd:bg-xai-700/10 dark:even:bg-xai-700/5 backdrop-blur-md">
    <div class="p-4 mb-4">
        <div class="w-40 h-28 overflow-hidden relative float-start mr-4">
            {{ with .Params.images }}
            <img src="{{ index . 0 }}" alt="First image" class="w-full h-full rounded-md object-cover">
            {{ end }}
        </div>
        <h2 class="text-lg text-xai-500 hover:text-lightblue-300">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <p class="overflow-ellipsis text-xai-800 dark:text-xai-400"> {{ .Summary }}</p>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>
</div>


{{ end }}
{{ end }}