{{ define "main" }}
<div class="flex flex-col space-y-4 mb-4">
    <h1 class="text-4xl font-black">{{ .Title }}"</h1>
    <p>Explore posts tagged with <span class="font-bold">{{ .Title }}</span></p>

    {{ range .Pages }}
    <div class="flex flex-row rounded-xl odd:bg-white/10 even:bg-white/20 backdrop-blur-md">
        <div class="p-4 mb-4">
            <div class="w-40 h-28 overflow-hidden relative float-start mr-4">
                {{ with .Params.images }}
                <img src="{{ index . 0 }}" alt="First image" class="w-full h-full object-cover">
                {{ else }}
                <img src="/images/banner.png" alt="Default image" class="w-full h-full object-cover">
                {{ end }}
            </div>
            <h2 class="text-lg text-xai-500">
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>
            <p class="overflow-ellipsis text-xai-800">{{ .Summary }}</p>

            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}