{{ define "main" }}
<div class="flex flex-col space-y-4  mb-4">
    <!--<h3 class="font-medium text-xl text-xai-400">{{ .Title }}</h3>
     <div class="bg-red-600"> {{ .Content }}</div>-->
    <div class="flex-row items-center justify-center text-center space-y-2">
        <h1 class="text-4xl font-black">Our Blog</h1>
        <p>Get the latest updates from <span class="font-bold">{{ site.Title}}</span></p>

        <div class="w-full h-[300px] overflow-hidden  relative">
            {{ with .Params.images }}
            <img src="{{ index . 0 }}" alt="First image" class="w-full h-full object-cover ">
            {{ end }}
        </div>
        <div class="text-left">
            <h3 class="font-medium text-xl ">{{ .Title }}</h3>

            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
            $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            <!-- <div class=""> {{ .Content }}</div>-->
        </div>
    </div>
</div>


{{ range .Pages }}
<div class="flex flex-row  rounded-xl   odd:bg-white/10 even:bg-white/20 backdrop-blur-md">
    <div class="p-4 mb-4">
        <div class="w-40 h-28 overflow-hidden relative float-start mr-4 ">
            {{ with .Params.images }}
            <img src="{{ index . 0 }}" alt="First image" class="w-full h-full object-cover ">
            {{ end }}
        </div>
        <h2 class="text-lg text-xai-500">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <p class=" overflow-ellipsis text-xai-800"> {{ .Summary }}</p>


        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
        $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        <!-- <div class=""> {{ .Content }}</div>-->

    </div>
</div>


{{ end }}
{{ end }}